# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
*.swp

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
tmux/plugins/*
zsh/zsh_plugins.zsh
zsh/.zcompdump*

# Private Information
private/*
zsh/local/private.zsh
zsh/.zsh_history
